.card_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    width: 25rem;
    height: auto;
    margin: 15px;
    padding: 10px;
    background-color: #F3F4F6;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.card_par {
    font-size: 1.1rem;
}

.card_footer {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.card_img img {
    border-radius: 40px;
}

.card_text {
    margin-left: 15px;
}